<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="dashboard-background">
        <div class="glow glow1"></div>
        <div class="glow glow2"></div>
    </div>

    <div class="tool-container">

        <div class="tool-box">

            <h1>⚡ Password Generator</h1>

            <p class="tool-description">
                Generate strong and secure passwords instantly.
            </p>

            <form method="POST">

                <input
                    type="number"
                    name="length"
                    min="4"
                    max="50"
                    value="12"
                    placeholder="Password Length"
                    required>

                <button type="submit">
                    🔐 Generate Password
                </button>

            </form>

            {% if generated_password %}

            <div class="result-box">

                <h3>✅ Generated Password</h3>

                <div class="generated-password">
                    {{ generated_password }}
                </div>

            </div>

            {% endif %}

            <a href="/" class="back-btn">
                ⬅ Back Dashboard
            </a>

        </div>

    </div>

</body>

</html>